<f:layout name="default" />

This template displays a EDIT form for the current domain object.

<f:section name="main">
<h1>Edit TwitterAccount</h1>

<f:flashMessages />

<f:render partial="formErrors" />

<f:form method="post" action="update" name="twitterAccount" object="{twitterAccount}">
	<label for="title"><f:translate key="tx_twitterfeed_domain_model_twitteraccount.user_name" /> <span class="required">(required)</span></label><br />
	<f:form.textbox property="userName" /><br />
	<label for="title"><f:translate key="tx_twitterfeed_domain_model_twitteraccount.pass_word" /> <span class="required">(required)</span></label><br />
	<f:form.textbox property="passWord" /><br />
	<f:form.submit value="Edit" />
</f:form>
</f:section>